# The virtual environment
django-env

# cached modules
tictactoe/tictactoe/__pycache__
__pycache__
.vscode
../.DS_Store
.DS_Store

#migrations
tictactoe/gameplay/migrations
.installed.cfg
*.egg
.idea/
**/.DS_Store
# sqlite database
db.sqlite3

#settings
**/**/settings.ini
